<template>
  <div>
    <h1>AutiotupaApplication</h1>
    <form>
        <label for="cottageName">
            Name for the cottage
        </label>
        <input id="cottageName" type="text" />

        <label for="cottageLocation">
            Location of the cottage
        </label>
        <input id="cottageLocation" type="text" />

        <label for="cottageSize">
            Size of the cottage
        </label>
        <input id="cottageSize" type="number" />

        <input value="Add Cottage" type="submit" />

    </form>

    <div>
        <ul>
            <li>
                Cottage
            </li>
        </ul>
    </div>
  </div>
</template>

<style>
@import '/css/site.css';
</style>