<template>
    <div>
        <form>
            <label for="cottageName">
                Name for the cottage
            </label>
            <input id="cottageName" type="text" v-model="cabin.name"/>

            <label for="cottageLocation">
                Location of the cottage
            </label>
            <input id="cottageLocation" type="text" v-model="cabin.address"/>

        </form>

        <button @click="createCabin">Add Cottage</button>
    </div>
</template>

<script src="./create.ts"></script>
